@model SciEvidenceBank.Models.Evidence

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evidence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbstractText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbstractText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookmarksCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookmarksCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitationCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitationCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
