@model SciEvidenceBank.Models.Evidence

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa thông tin</h2>

<h3>Bạn chắc chắn xóa thông tin này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbstractText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbstractText)
        </dd>

       
        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.ApprovedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedByName)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByName)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
